* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  padding: 8vh;
  margin: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  border: none;
  justify-content: center;
  margin-top: 1rem;
  background-image: linear-gradient(120deg, Black, rgb(49, 48, 48));
  /* background-image: linear-gradient(
    120deg,
    rgb(136, 103, 103),
    rgb(230, 134, 134)
  ); */
  color: white;
  min-height: 100vh;
  margin-left: 1.5rem;
}

.name,
.num,
.place,
.email,
.date,
.time,
.people,
.op,
.text1,
.hall {
  margin-left: 1rem;
  border: none;
}

.hall-select {
  margin-left: 6rem;
}

.name,
.num,
.place,
.email,
.people,
.hall,
.hall-select {
  padding: 0.2rem;
}

.name,
.email,
.op,
.num,
.time,
.people,
.hall,
.hall-select {
  margin-top: 0.5rem;
}

.date,
.time {
cursor: pointer;
}

.op1,
.op2 {
  margin-left: 1.5rem;
  margin-top: 0.2cm;
  cursor: pointer;
}

.op1 {
  margin-top: 0.4cm;
}

.text1 {
  margin-bottom: 0.7rem;
}

.date {
  margin-top: 2rem;
}

.submit-btn {
  transition: all 0.4s ease;
  margin: 1rem;
  margin-left: 2rem;
  padding: 0.4rem;
  color: white;
  background-color: black;
}

.submit-btn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
